<div class="layout">
  <header>
    <nav>
      <mat-card>
        <div class="logo-wrapper">
          <h1>UFA!</h1>
        </div>
        <mat-list class="nav-menu">
          <mat-list-item
            *ngFor="let menu of menuList"
            [ngClass]="{ active: path === menu.path }"
            (click)="navigateTo(menu.path)"
          >
            <span class="material-icons"> {{ menu.icon }} </span>
            <p>{{ menu.label }}</p>
          </mat-list-item>
        </mat-list>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <ngx-avatar name="{{companyName}}" [initialsSize]="2"></ngx-avatar>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateTo('/perfil')">
            <mat-icon>perm_identity</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </mat-card>
    </nav>
  </header>
  <div class="page-wrapper" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
