.content {
 
  .header-content {
    margin-bottom: 15px;
  }
  .search-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    mat-form-field {
      width: 300px;
    }
    button{
      height: 40px;
    }
  }
  .table-container {
    position: relative;
  }
}
