mat-dialog-content {
  padding: 0;
  margin: 0 !important;
  height: 100%;
  position: relative;
  max-height: none !important;

  button.close-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    &:hover {
      background: transparent;
    }
    &:focus {
      background: none;
    }
  }

  .top {
    background: var(--text-color);
    margin-bottom: 50px;
    position: relative;
    height: 70px;
    ngx-avatar {
      left: 50%;
      position: absolute;
      top: 70px;
      right: auto;
      transform: translate(-50%, -50%);
    }
  }
  .bottom {
    padding: 20px 2px 0;
    height: calc(100% - 120px);
    .material-form {
      width: 100%;
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px;
    button {
      width: 100px;
      height: 45px;
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}
.whatsapp-wrapper {
  display: flex;
  mat-form-field {
    &:first-child {
      margin-right: 20px;
    }
  }
  button.whatsapp-btn {
    border: none;
    background: none !important;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-shadow: none;
    svg {
      fill: green;
    }
  }
}
::ng-deep {
  .mt-grp {
    height: calc(100% - 120px);
    margin-left: 40px;
    margin-right: 40px;

    .mat-tab-body-wrapper {
      height: 100%;
    }
    .mat-expansion-panel-body {
      padding: 0 16px !important;
    }
  }
}

mat-expansion-panel {
  .panel-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    p {
      display: flex;
      justify-content: space-between;
      color: var(--data-label);
      span {
        margin: 0 10px 10px;
        color: var(--tertiary-color);
      }
    }
  }
}
