.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  .left {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      background: #fff;
      box-shadow: 0 3px 6px 0 rgb(40 40 90 / 9%), 0 1px 1px 0 rgb(0 0 0 / 7%);
      padding: 50px;
      max-width: 400px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 15px;
      border-radius: 8px;
      mat-form-field,
      h1 {
        margin-bottom: 30px;
      }
      button {
        span {
          margin-right: 10px;
        }
        &:hover {
          color: var(--status-indicator-color-active);
          border-color: var(--status-indicator-color-active);
        }
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;
    mat-list {
      overflow-y: auto;
      overflow-x: hidden;
      height: calc(100vh - 100px);
      padding-right: 20px;
      mat-list-item {
        height: auto;
        mat-card {
          background: none;
          border: none;
          box-shadow: none;
          display: flex;
          justify-content: space-between;
          width: 100%;
          cursor: pointer;
          transition: transform 0.2s;
          &:hover {
            transform: scale(
              1.1
            ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
          }
          mat-card-header {
            .header-image {
              background-size: cover;
            }
          }
          mat-card-content {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
