<div class="content">
  <div class="left">
    <div class="card">
      <h1>Contatos</h1>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Procurar contato</mat-label>
        <span matPrefix class="material-icons"> search </span>
        <input type="text" matInput placeholder="Ex.: José" />
        <mat-hint align="end"
          ><strong>{{ count }}</strong> contatos</mat-hint
        >
      </mat-form-field>

      <button mat-stroked-button (click)="openNew()">
        <span class="material-icons"> person_add_alt_1 </span>Adicionar contato
      </button>
    </div>
  </div>
  <div class="right">
    <mat-list>
      <mat-list-item
        *ngFor="let contact of contactList"
        (click)="openDetails(contact)"
        ><mat-card>
          <div class="left">
            <ngx-avatar [name]="contact.name"></ngx-avatar>
            <mat-card-header>
              <mat-card-title>{{ contact.name }}</mat-card-title>
              <mat-card-subtitle>{{ contact.email }}</mat-card-subtitle>
            </mat-card-header>
          </div>

          <mat-card-content>
            {{ contact.phone }}
          </mat-card-content>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
</div>
