<div class="content">
  <div class="left">
    <div class="logo-wrapper">
      <img src="../../../assets/images/logo-trans.png" />
    </div>
    <h1>UFA!</h1>
    <p>
      Descomplique seu escritorio de advocacia!
    </p>
  </div>
  <div class="right">
    <div class="loading-fade" *ngIf="loading">
      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
      >
      </mat-progress-spinner>
    </div>
    <form [formGroup]="loginFormGroup" (ngSubmit)="login()">
      <h2>Faça login na sua conta</h2>
      <p>Acesse seu dashboard</p>
      <mat-form-field class="full-width">
        <mat-label>Email ou CPF</mat-label>
        <input
          type="text"
          matInput
          formControlName="username"
          required
          (input)="setMask()"
          [mask]="cpfEmailMask"
        />
        <mat-error>
          <p *ngIf="loginFormGroup.controls['username'].hasError('required')">
            Email ou Cpf é um campo obrigatório
          </p>
          <p *ngIf="loginFormGroup.controls['username'].errors?.invalidCpf">
            CPF inválido.
          </p>
          <p *ngIf="loginFormGroup.controls['username'].errors?.invalidEmail">
            Email inválido.
          </p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input type="password" matInput formControlName="password" required />
        <mat-error
          *ngIf="loginFormGroup.controls['password'].hasError('required')"
        >
          Senha é um campo obrigatório
        </mat-error>
      </mat-form-field>
      <div class="actions">
        <button mat-button class="login-button" color="primary" type="submit">
          Entrar
        </button>
      </div>
    </form>
  </div>
</div>
