.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    height: 100%;
    width: 35%;
    padding: 80px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .left-top {
      width: 100%;
      .logo-wrapper {
        width: 100%;
        margin-bottom: 24px;
        img {
          width: 220px;
        }
      }
    }
    .left-bottom {
      small {
        position: relative;
        bottom: -70px;
      }
    }
    form {
      h2,
      p {
        margin-bottom: 20px;
      }
      mat-form-field {
        margin-bottom: 20px;
      }
      .actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .right {
    color: var(--primary-color);
    height: 100%;
    width: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/login-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
    h1 {
      margin-bottom: 30px;
    }
    p {
      text-align: center;
    }
  }
}
