.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left {
    color: var(--primary-color);
    padding: 50px;
    height: 100%;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../../../assets/images/login-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
    h1 {
      margin-bottom: 30px;
    }
    p {
      text-align: center;
    }
  }
  .right {
    height: 100%;
    width: 50%;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      color: var(--primary-color);
      h2,
      p {
        margin-bottom: 20px;
      }
      mat-form-field {
        margin-bottom: 20px;
      }
      .actions {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .login-button {
          width: 160px;
          background: rgba(var(--color-accent-rgb), 0.2);
          color: var(--primary-color);
          border: var(--primary-color) 2px solid;
          font-weight: 700;
          border-radius: 0;
        }
      }
    }
  }
}
