@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~ngx-toastr/toastr';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
}
*,
button,
input {
  border: 0;
  background: none;
  font-family: 'Roboto', sans-serif;
}
html {
  background: var(--background-color);
  color: var(--primary-color);
}

.btn-icon {
  cursor: pointer;
}
.full-width {
  width: 100%;
  height: auto;
  button {
    width: 100%;
  }
}
.input-group {
  margin-bottom: 25px;
  min-height: 60px;
}
.form-error {
  height: auto;
  margin-top: 5px;
  width: 100%;
  p {
    color: red;
    font-size: 12px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
:root {
  --primary-color: #4a596a;
  --background-color: #f3f7fa;
  --status-indicator-size: 10px;
  --header-height: 70px;
  --status-indicator-animation-duration: 2s;
  --status-indicator-color: rgb(216, 226, 233);
  --status-indicator-color-semi: rgba(216, 226, 233, 0.5);
  --status-indicator-color-transparent: rgba(216, 226, 233, 0);
  --status-indicator-color-active: rgb(0, 149, 255);
  --status-indicator-color-active-semi: rgba(0, 149, 255, 0.5);
  --status-indicator-color-active-transparent: rgba(0, 149, 255, 0);
  --status-indicator-color-positive: rgb(75, 210, 143);
  --status-indicator-color-positive-semi: rgba(75, 210, 143, 0.5);
  --status-indicator-color-positive-transparent: rgba(75, 210, 143, 0);
  --status-indicator-color-intermediary: rgb(255, 170, 0);
  --status-indicator-color-intermediary-semi: rgba(255, 170, 0, 0.5);
  --status-indicator-color-intermediary-transparent: rgba(255, 170, 0, 0);
  --status-indicator-color-negative: rgb(255, 77, 77);
  --status-indicator-color-negative-semi: rgba(255, 77, 77, 0.5);
  --status-indicator-color-negative-transparent: rgba(255, 77, 77, 0);
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--status-indicator-color);
}
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-container {
  table {
    width: 100%;
    border-radius: 8px;
  }
}

.mat-row:nth-child(odd) {
  background-color: rgba(243, 247, 250, 0.4);
}
button {
  &.action {
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
}
.close-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mat-dialog-container {
  padding: 0 !important;
}
button.main-button {
  background-color: var(--primary-color) !important;
  color: white;
}
button.main-button-inverse {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color);
}
.loading-fade {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffffff6e;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
