<div class="content">
  <div class="cards">
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> supervisor_account </span>
          </div>
          <div class="widget-info">
            <div class="widget-title">Clientes</div>
            <h2 class="text-truncate">{{ dataTotal.count_client }}</h2>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> list_alt </span>
          </div>
          <div class="widget-info">
            <div class="widget-title">Processos</div>
            <h2 class="text-truncate">{{ dataTotal.count_lawsuit }}</h2>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> folder_shared </span>
          </div>
          <div class="widget-info">
            <div class="widget-title">Gavetas</div>
            <h2 class="text-truncate">{{ dataTotal.count_locker }}</h2>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="lawsuit-wrapper">
    <div class="left-60">
      <app-lawsuit></app-lawsuit>
    </div>
    <div class="right-40">
      <app-lockers></app-lockers>
    </div>
    
  </div>
  <div class="contact-wrapper">
    <app-contacts></app-contacts>
  </div>
</div>
