<div class="content">
  <div class="cards">
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> supervisor_account </span>
            <div class="badge-box">
              <span class="badge"
                ><span class="material-icons"> show_chart </span
                ><strong class="accent-text">16%</strong></span
              >
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">Clientes</div>
            <h2 class="text-truncate">523</h2>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> list_alt </span>
            <div class="badge-box">
              <span class="badge"
                ><span class="material-icons"> show_chart </span
                ><strong data-v-69f1131d="" class="accent-text"
                  >16%</strong
                ></span
              >
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">Processos</div>
            <h2 class="text-truncate">4,523</h2>
          </div>
        </div>
      </div>
    </mat-card>
    <mat-card class="stats-card">
      <div class="widget-header">
        <div class="top-side">
          <div class="widget-icon-box">
            <span class="material-icons"> folder_shared </span>
            <div class="badge-box">
              <span class="badge"
                ><span class="material-icons"> show_chart </span
                ><strong class="accent-text">16%</strong></span
              >
            </div>
          </div>
          <div class="widget-info">
            <div class="widget-title">Gavetas</div>
            <h2 class="text-truncate">23</h2>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="components-wrapper">
    <app-lawsuit></app-lawsuit>
  </div>
  <div class="components-wrapper">
    <app-contacts></app-contacts>
  </div>
</div>
